*.txt
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ninja
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.xml
*.check_cache
*.log
*.yaml
*.c
*.bin
*/_
*.ninja_log
*.ninja_deps
cache-v2
cmakeFiles-v1
codemodel-v2
toolchains-v1
*iml